html {
	overflow: hidden;
	width:100%;
	height:100%;
}

body {
	padding:0;
	margin:0;
	width:100%;
	height:100%;
}

/* Child of body, will contain all slides */
#metacontent {
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: black;
}

/* The current slide */
#metacontent .currentSlide {
  display: block;
  height: 100%;
}

/* Other slides */
#metacontent .nextSlide, #metacontent .pastSlide {
  display: none;
}
#metacontent .nextSlideFlash {
  height: 0px;
}

/* Images */
div.imageContainer {
	background: #000;
	width: 100%;
	height: 100%;
}
div.imageContainer.ambimage {
	padding: 20px 0px 0px 0px;
}

div.localImageContainer.ambimage {
	position: relative;
	margin: 0px auto 0px auto;
}

img.image-slide.original {
	border: 5px solid rgba(30,30,30,0.7);
	-webkit-border-radius: 3px;
	position: relative;
	z-index: 3;
}

img.image-slide.fullscreen {
	background-color: #000;
	display: block;
	margin-left: auto;
	margin-right: auto ;
	position:relative;
	width: auto;
	height: auto;
}

img.image-slide.crop {
	position: absolute;
}


/* Videos */
div.ambilightModeVideoGlobalContainer {
	background: #000;
	width: 100%;
	height: 100%;
}

div.ambilight-video-wrap {
    position:relative;
    margin:0px auto 0px auto;
}

video {
	background: #000;
}

video.fullscreenModeVideo {
	width: 100%;
	height: 100%;
}


embed, object {
	background: #000;
	width: 100%;
	height: 100%;
}


iframe {
	height: 100%;
	width: 100%;
	overflow: hidden;
}


/*#logo{
	position:absolute; 
	top:0px; 
	left:0px;
}*/

footer {
	position: absolute;
	bottom: 0px;
	left: 0px; 
	width: 100%; 
	height: 10%;
	font: Arial, Helvetica, sans-sherif; 
	z-index:5;
	color: white;
}

footer #quick-messages-wrapper {
	position:absolute;
	bottom: 0px;
	height: 80%;
	width: 100%;
	overflow: hidden;
	background-position: right;
	top: 0px;
	opacity: 0;
	/*border-top : 3px solid black;
	border-bottom : 3px solid black;
	border-right : 3px solid black;*/
}

footer #quick-messages-wrapper #quick-messages {
	position : relative;
	z-index: 10;
}

footer #quick-messages-wrapper #quick-messages div {
	background: url(../images/banner.png) repeat;
}
footer #quick-messages-wrapper #quick-messages div span {
	white-space:nowrap;
	position: absolute;
	margin: 0px;
}

header {
	position: absolute;
	top: 0px;
	left: 0px; 
	width: 100%;
	height: 10%;
	font: Arial, Helvetica, sans-sherif; 
	z-index:5;
	color: white;
}

header #date {
	-moz-border-radius-bottomleft: 50% 100%;
	border-bottom-left-radius: 50% 100%;
	padding-left: 35px; /* Hack : it is not relative size */
	background: url(../images/banner.png) repeat;
	-webkit-box-shadow: 3px -10px 5px;
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: right;
}