[submodule "common/ambimage"]
	path = common/ambimage
	url = git://github.com/desaintmartin/Ambimage.git
[submodule "common/simple-ambimage"]
	path = common/simple-ambimage
	url = git://github.com/desaintmartin/SimpleAmbimage.git
[submodule "common/ambilight"]
	path = common/ambilight
	url = git://github.com/desaintmartin/Ambilight.git
